#sign-up-form{
    width: 300px;
    background: transparent;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0);
    margin: 8% auto 0;
    text-align: center;
    padding: 20px;
   }
body{
    margin: 0;
    padding: 0;
    background-image: url("images/bg.jpg");
    background-size: cover;
}
.login-email,.login-password{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    outline: none;
    background: transparent;
}
button{
    color:#fff;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.login{
    background: #1c8adb;
}
.sign{
    background-color: #21afde;
}
hr{
    margin-top: 20px;
    width: 80%;

}
.or{
    background:blue;
    width:30px;
    margin: -19px auto 10px;
}
img{
    width: 70px;
    background: transparent;
}
h1{
    color: darkslategrey;
}