/* This section is used by the fifteen game. */
#table{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.tile {
  width: 50px;
  height: 50px;
  border: 2px solid #222;
  text-align: center;
  background: #66F922;
  color: #000;
  cursor: pointer;
}


#moves {
  border: 2px solid #222;
  background: -webkit-gradient(linear, top, bottom,color-stop(15%, white),color-stop(80%, darkgray));
  background: -moz-linear-gradient(top, white 15%, darkgray 90%);  
  background: linear-gradient(90deg, white 15%, darkgray 90%);
  font-weight: bold;
  padding: 2px 5px;
  color: #000;
}


body { 
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.8438725832129726) 2%, rgba(178,5,58,1) 34%, rgba(15,170,233,1) 100%);
  font-family: Arial, Verdana, sans-serif;
}

h1 { 
  color: #000000; 
  font-family: Georgia, "Times New Roman", serif; 
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}
 
#wrapper {  
  min-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
 



